<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikosmov.annnew2019">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Drawer"
            android:label="Будильник"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmRecevier" />

        <activity android:name=".Main2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Main3Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddTaskActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>